mixin menu-side()
	+b('ul').menu-side.clearfix
		+e('li').item
				+e('a').link.active(href = '') О компании
		+e('li').item
			+e('a').link(href = '') Доставка и оплата
		+e('li').item
			+e('a').link(href = '') Политика возврата
		+e('li').item
			+e('a').link(href = '') Контакты