
.block-gallery {

	&__side {
		float: left;
		width: 20%;
		padding:5px 0;
	}

	&__main {
		float: left;
		width: 80%;
		padding: 14px 0;
		position: relative;

		&-img{
			max-width: 300px;
			max-height: 300px;
			display: block;
			margin: auto;
		}
	}

	&__metrics {
		clear: both;
		padding-top: 22px;

	}

	&__item{
		padding:7px;
	}

	&__img{
		max-width: 64px;
		max-height: 64px;
	}

	&__icon {
		float: left;
		padding-left: 35px;
		position: relative;
		color:$color-grey;

		&:last-child{
			padding-left: 45px;
		}

		&-size {
			position: absolute;
			top: 0;
			left: -22px;
		}

		&-weight {
			position: absolute;
			top: 0;
			left: -22px;
		}

		&-text {
			font-size: 12px;
			color: #5a5757;
		}

		&-desc {
			font-size: 8px;
			color: $color-grey;
			margin-top: -3px;
		}

	}

	.icon__size{
		left: 1px;
		top: 1px;
		fill:#5a5757;
	}

	.icon__weght{
		left: 7px;
		fill:#5a5757;
	}

	.icon__loop{
		position: static;
		fill:#ddd;
	}

	&__increase{
		font-size: 8px;
		position: absolute;
		right: 17px;
		margin-top: -18px;
		cursor: pointer;
	}
}
