.tabs-main{
	border-bottom:1px solid #ddd;
	height: 52px;

	&__item{
		float: left;
		height: 52px;
		position: relative;
		padding: 15px 30px 0;

		&.active{
			border:1px solid #C6C6C6;
			color: #000;
			font-family:$openSansBold;
			border-bottom: 1px solid #fff;

			.tabs-main__link{
				border-bottom:none;
				color: #000;
			}
		}

		&:first-child{
			&.active{
				border-left:none;
			}
			.tabs-main__link{
				&.active{
					border-left: 1px solid #fff;
				}
			}

		}
	}

	&__link{
		font-size: 18px;
		line-height:21.6px;
		color: #666;
		cursor: pointer;
		display: inline-block;
		border-bottom:1px  dashed #ddd;



		/*&.active{
			border:1px solid #C6C6C6;
			color: #000;
			font-family:$openSansBold;
			border-bottom: 1px solid #fff;
		}*/
	}

	&__notice{
		width: 15px;
		height: 15px;
		background: #ccc;
		border-radius: 33pc;
		text-align: center;
		color: #fff;
		font-size: 10px;
		line-height: 15px;
		position: absolute;
		right: 8px;
		top: 11px;
	}
}