.pugination {
	padding: 50px;
	font-size:12px;
	clear:both;

	&__list{
		text-align: center;
	}

	&__item {
		display: inline-block;
		position: relative;
		padding: 0 4px;
	}

	&__link {
		color: #000;
		padding: 5px 8px;
		border:1px solid #ddd;
		display: block;

		&_type{
			&_nav{
				padding:0 12px;
				color: #000;
				text-decoration: underline;
				border:none;

				&.disabled{
					color: $color-grey;
					text-decoration: underline;

					&:hover{
						color: $color-grey;
					}
				}
			}
		}

		&:hover{
			color: $color-grey;
		}

		&.active {
			color: $color-grey;
			cursor: text;
		}
	}

}