
.sell{
	padding: 42px 0;

	&__list{
		padding-top:9px;
	}

	&__box{
		padding-top:17px;

	}

	&__title{
		font-size:18px;
		font-family:$futuraBold;
	}

	&__pic{
		padding:10px 0 7px;

	}

	&__wrapper{
		width: 120px;
		height: 120px;
		display: block;
		margin: auto;
		border-radius: 50%;
		overflow: hidden;
	}

	&__img{
		//max-height: 170px;
		//max-width: 180px;
	}

	&__info{
		padding: 16px 0 5px;
	}

	&__item{
		padding: 1px 0;
		color: #000;
		font-size:12px;
		text-align: center;

		&_type{
			&_name{
				font-size:14px;
				font-family:$openSansSemiBold;
			}

			&_job{
				font-size:13px;
				color:#8e8d8d;
			}


			&_contacts{
				padding: 2px 0;
			}
		}
	}

	&__notice{
		font-size: 12px;
		padding: 15px 3px 0 5px;
		line-height: 20px;
	}

	&__value{
		display: inline-block;
	}

}

