// Common styles of the project

html, body {
	height:100%;
}

.page {
    background: #fff;
    font-size:16px;
    min-width: 1160px;
    font-family:$openSansReg;
    color: #222;
	padding-bottom: 735px;
	min-height: 100%;
	position: relative;
}


*,
*:before,
*:after{
    box-sizing: border-box;
}

::selection{
    background: #ddd;
}
.clearfix:before,
.clearfix:after{
    display: table;
    clear: both;
    content: '';
}

a{
    text-decoration: none;

    &:hover{
        text-decoration: none;
    }
}
h1,h2,h3{
	margin:0;
}
p{
	margin:0;
}
ul{
    list-style: none;
    padding:0;
	margin:0;
}
button{
    outline: none;
	background: transparent;
	border:none;
	padding:0;
}
input,
select,
option{
	outline: none;
}

.container{
    //max-width: 1450px;
	max-width: 1190px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    position: relative;
	//min-width:1190px;

	&_type{
		&_main{
			padding-bottom:200px;
		}
	}
}

.table{
    display: table;
}
.table-row{
    display: table-row;
}
.table-cell{
    display: table-cell;
}

.header-section{
	font-size:18px;
	font-family:$futuraBook;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.header-page{
	font-size: 36px;
	font-family:$futuraBold;
}
.content{

	&__products-new{
		padding-top:20px;
	}

	&__banner{
		padding-top:38px;
	}

	&__side{
		float: left;
		width:24%;
	}

	&__main{
		float: left;
		width:76%;
		padding-left:19px;
	}
}

input:focus{
	box-shadow: 0 0 3px 1px rgba(221, 221, 221, 0.57);
}

.svg-icon {
	position: absolute;
}
.icon {

	&__wish,
	&__wish-fill{
		width: 18px;
		height: 16px;
		fill: #ddd;
	}

	&__stock {
		width: 20px;
		height: 20px;
		fill: $color-grey;
	}

	&__delivery{
		width: 40px;
		height: 22px;
		fill:$color-grey;
	}

	&__home{
		width: 27px;
		height: 24px;
		fill: $color-grey;
	}

	&__garant{
		width: 22px;
		height: 22px;
		fill: $color-grey;
	}

	&__loop{
		width: 16px;
		height: 16px;
		fill: $color-grey;
	}

	&__weght{
		width: 41px;
		height: 24px;
		fill: $color-grey;
	}

	&__size{
		width: 25px;
		height: 22px;
		fill: $color-grey;
	}

	&__go{
		width:5px;
		height:12px;
		fill: #615c5c;
	}

	&__star{
		width:16px;
		height:16px;
		fill:#ddd;
	}

	&__logo{
		width:70px;
		height:70px;
	}

	&__popular{
		width:6px;
		height:6px;
		fill: $color-grey;
	}

	&__faq{
		width:20px;
		height:18px;
		fill: $color-grey;
	}

	&__phone{
		width: 36px;
		height: 36px;
		fill: $color-main;
	}

	&__clock{
		width: 36px;
		height: 36px;
		fill: $color-main;
	}

	&__location{
		width: 13px;
		height: 13px;
		fill: $color-main;
	}

	&__list{
		width: 20px;
		height: 20px;;
		fill: #fff;
	}

	&__card{
		width: 20px;
		height: 20px;;
		fill: #fff;
	}

	&__user{
		width: 17px;
		height: 17px;
		fill: #fff;
	}

	&__cart{
		width: 24px;
		height: 17px;
		fill: #fff;
	}

	&__auto{
		fill:#ccc;
		width:18px;
		height:18px;
	}

	&__percent{
		fill:#ccc;
		width:18px;
		height:18px;
	}

	&__toTop{
		width:37px;
		height:37px;
		fill:$color-main;
	}

	&__nav{
		width:5px;
		height:12px;
		fill:#797575;
	}
}

