$svg-common 
	background url("sprite-6d116bb5.svg") no-repeat

.svg-arrow-down
	@extend $svg-common
	background-position 0 0
	width 14.8px
	height 10px

.svg-arrow-left
	@extend $svg-common
	background-position 0 0.9813542688910697%
	width 14.23px
	height 40px

.svg-auto
	@extend $svg-common
	background-position 0 4.8123195380173245%
	width 22.96px
	height 20px

.svg-card
	@extend $svg-common
	background-position 0 6.737247353224254%
	width 24.36px
	height 20px

.svg-cart
	@extend $svg-common
	background-position 0 8.662175168431183%
	width 22.91px
	height 20px

.svg-check
	@extend $svg-common
	background-position 0 10.617760617760618%
	width 23px
	height 23px

.svg-clock
	@extend $svg-common
	background-position 0 13.051755608329572%
	width 40px
	height 39.98px

.svg-delete
	@extend $svg-common
	background-position 0 16.73211211482291%
	width 25.06px
	height 25.06px

.svg-delivery
	@extend $svg-common
	background-position 0 19.26427879961278%
	width 44.21px
	height 26px

.svg-faq
	@extend $svg-common
	background-position 0 21.685492887158333%
	width 24px
	height 21.44px

.svg-garant
	@extend $svg-common
	background-position 0 23.910939012584706%
	width 26px
	height 26px

.svg-go
	@extend $svg-common
	background-position 0 26.170983760569047%
	width 8.49px
	height 15.86px

.svg-google
	@extend $svg-common
	background-position 0 28.575383641828825%
	width 47.64px
	height 47.64px

.svg-home
	@extend $svg-common
	background-position 0 32.435033686236764%
	width 22.34px
	height 20px

.svg-in
	@extend $svg-common
	background-position 0 34.73674992459109%
	width 31.27px
	height 31.27px

.svg-list
	@extend $svg-common
	background-position 0 37.48097045844334%
	width 24.57px
	height 21.14px

.svg-location
	@extend $svg-common
	background-position 0 39.40027225492263%
	width 12.31px
	height 15.86px

.svg-logo
	@extend $svg-common
	background-position 0 43.3502538071066%
	width 74px
	height 74px

.svg-logo22
	@extend $svg-common
	background-position 0 50.96642929806714%
	width 76px
	height 76px

.svg-logo33
	@extend $svg-common
	background-position 0 58.69786368260427%
	width 76px
	height 76px

.svg-loop
	@extend $svg-common
	background-position 0 62.84889316650626%
	width 20px
	height 20px

.svg-od
	@extend $svg-common
	background-position 0 66.30541871921183%
	width 44px
	height 44px

.svg-od-2
	@extend $svg-common
	background-position 0 70.01269407284445%
	width 25.8px
	height 34.9px

.svg-od-3
	@extend $svg-common
	background-position 0 73.43032906942682%
	width 25.8px
	height 34.9px

.svg-page-up
	@extend $svg-common
	background-position 0 77.30844793713163%
	width 41px
	height 41px

.svg-percent
	@extend $svg-common
	background-position 0 79.69201154956689%
	width 20px
	height 20px

.svg-phone
	@extend $svg-common
	background-position 0 83.2286432160804%
	width 40px
	height 40.12px

.svg-popular
	@extend $svg-common
	background-position 0 84.74737845567206%
	width 9.42px
	height 10px

.svg-size
	@extend $svg-common
	background-position 0 87.02807357212004%
	width 28.67px
	height 26px

.svg-star
	@extend $svg-common
	background-position 0 89.0279114533205%
	width 20.79px
	height 20px

.svg-stock
	@extend $svg-common
	background-position 0 91.30434782608695%
	width 25.12px
	height 24px

.svg-tw
	@extend $svg-common
	background-position 0 93.54004170206193%
	width 24.68px
	height 23.08px

.svg-user
	@extend $svg-common
	background-position 0 95.57266602502406%
	width 18.67px
	height 20px

.svg-weght
	@extend $svg-common
	background-position 0 98.06389157792836%
	width 23.71px
	height 26px

.svg-wish
	@extend $svg-common
	background-position 0 100%
	width 22.2px
	height 20px

