
.block-products{
	padding:0 0 20px;

	&__title{
		font-size:30px;
		font-weight:bold;
		padding: 4px 0 5px 0;
		font-family: $CoText;
		line-height:36px;


		&_type{
			&_aside{
				font-size:18px;
				text-transform: uppercase;
				padding: 23px 0 12px;
			}
		}

		&_type{
			&_section{
				font-size:18px;
				text-transform: uppercase;
				padding: 23px 0 12px;
				font-family:$futuraBook;
				font-weight: bold;
			}
		}
	}


	&__content{
		padding: 16px 0 0;
	}

	
	&__list{
		margin:0 -10px;
	}

	&__item{
		padding:0 10px;
		float: left;
		width:25%;
		margin-bottom:13px;
	}
}

