.footer {
	padding:7px 0 100px;
	background: #f2f2f2;
	font-family:$futuraBook;
	position: absolute;
	bottom: 0;
	left: 0;
	min-height: 735px;
	width: 100%;

	&__contacts{
		float: left;
		width:34%;
		padding-right: 11px;
	}

	&__info{
		 float: left;
		 width:16.8%;
	 }
	&__shop,
	&__acc{
		float: left;
		width: 25.4%;
	}

	&__acc{
		//padding-left: 15px;
		width:23%;
	}

	&__title{
		padding:18px 0 10px;
		font-size:18px;
		text-transform: uppercase;
		letter-spacing: 1.2px;
		color: #999999;
		font-family:$futuraBook;
	}

	&__phone{
		padding:3px 0 3px 2px;
		font-size:24px;
		line-height: 29px;
		letter-spacing: -0.6px;
		color: #333;
	}

	&__mail{
		padding: 7px 0 5px 2px;
		font-size:24px;
		letter-spacing: 0.5px;
		line-height: 29px;
		color: #333;
	}

	&__address{
		padding:16px 0;
		font-size:13px;
		line-height:19px;
		font-family:$openSansReg;
		letter-spacing: -0.8px;
		padding-right: 45px;
		color: #333;
	}

	&__social{
		margin-top:32px;
	}

	&__item{
		padding:2px 0;
		line-height:15.6px;
	}
	
	&__link{
		color: #969696;
		text-decoration: underline;
		display: inline-block;
		font-size:13px;

		&:hover{
			text-decoration: none;
		}
	}

	&__list{
		padding:9px 0;
	}
	&__copyright{
		margin-top: 144px;
		padding-left: 5px;
		font-size: 14px;
		color: #666;
	}

}
.block-social{
	&__title{
		text-transform: uppercase;
		padding: 10px 0 12px;
		font-size:18px;
		letter-spacing: 1px;
		color: #9a9a9a;
		font-family:$futuraBook;
	}
	
	&__list{
		padding: 3px 0;
		margin: 0 -5px;
	}
	
	&__item{
		float: left;
		padding:0 5px;
	}

	&__link{
		display: block;
		width: 40px;
		height: 40px;
	}
}

