mixin company()
	+b.company
		+e.title.header-page О компании
		+e.text
			p Полное наименование: Общество с ограниченной ответственностью «ТехноПлаза»
			p Государственный регистрационный номер: 109 774 639 2732
			p ИНН 7714783991
			p КПП 771401001
			p ОКПО 62171002
			p ОКВЭД 51.64
			p ОКОГУ 49013
			p ОКАТО 45277598000
