mixin modal-add()
   +b.modal-add
      +e.top.clearfix
         +e.pic
            +e('img').img(src = 'assets/img/content/detail.jpg')
         +e.info
            +e.title товар добавлен в корзину
            +e.product Apple iMac (MK462RU/A) 27» Retina (5120х2880) 5K i5 3.2GHz (TB 3.6GHz)/8GB/1TB/R9 M380 2GB
            +e.price
               |138 770
               +b('span').rub o
         +e.action.clearfix
            +e.btn
               +b('a').main-btn(href="checkout.html") Оформить
            +e.continue
               +e('a').link(href="") Продолжить покупки
      +e.options.clearfix
         +e('ul').list.clearfix.js-tabs.tabs-nav__
            +e('li').item
               +e('a').link.js-tabs__item.active(data-id= '#with') С этим товаром покупают
            +e('li').item
               +e('a').link.js-tabs__item(data-id = '#access') Аксессуары
         +e.content.js-tabs__content
            +e.item.js-tabs__box.active.clearfix#with
               +e.carousel.product-carousel__
                  +e.list.js-gallery
                     +e.item
                        +e.pic
                           +e('img').img(src = 'assets/img/content/mouse.jpg')
                        +e.product Apple Magic Mouse White Bluetooth
                           +e.price
                              |6 060 c
                              +b('span').rub o
                     +e.item
                        +e.pic
                           +e('img').img(src = 'assets/img/content/mouse.jpg')
                        +e.product Apple Magic Mouse White Bluetooth
                           +e.price
                              | 6 060 c
                              +b('span').rub o
                     +e.item
                        +e.pic
                           +e('img').img(src = 'assets/img/content/mouse2.jpg')
                        +e.product Apple Magic Mouse White Bluetooth
                           +e.price
                              | 6 060 c
                              +b('span').rub o
                     +e.item
                        +e.pic
                           +e('img').img(src = 'assets/img/content/mouse.jpg')
                        +e.product Apple Magic Mouse White Bluetooth
                           +e.price
                              | 6 060 c
                              +b('span').rub o
                     +e.item
                        +e.pic
                           +e('img').img(src = 'assets/img/content/mouse.jpg')
                        +e.product Apple Magic Mouse White Bluetooth
                           +e.price
                              | 6 060 c
                              +b('span').rub o
                     +e.item
                        +e.pic
                           +e('img').img(src = 'assets/img/content/mouse.jpg')
                        +e.product Apple Magic Mouse White Bluetooth
                           +e.price
                              | 6 060 c
                              +b('span').rub o
                  +e.nav.js-next
                     +svg('svg-icon icon__go ','go')
                  +e.nav_type_prev.js-prev
                     +svg('svg-icon icon__go ','go')
            +e.item.js-tabs__box.clearfix#access
               +e.carousel.product-carousel__
                  +e.list.js-gallery
                     +e.item
                        +e.pic
                           +e('img').img(src = 'assets/img/content/mouse.jpg')
                        +e.product Apple Magic Mouse White Bluetooth
                           +e.price
                              | 6 060 c
                              +b('span').rub o
                     +e.item
                        +e.pic
                           +e('img').img(src = 'assets/img/content/mouse2.jpg')
                        +e.product Apple Magic Mouse White Bluetooth
                           +e.price
                              | 6 060 c
                              +b('span').rub o
                     +e.item
                        +e.pic
                           +e('img').img(src = 'assets/img/content/mouse.jpg')
                        +e.product Apple Magic Mouse White Bluetooth
                           +e.price
                              | 6 060 c
                              +b('span').rub o
                     +e.item
                        +e.pic
                           +e('img').img(src = 'assets/img/content/mouse2.jpg')
                        +e.product Apple Magic Mouse White Bluetooth
                           +e.price
                              | 6 060 c
                              +b('span').rub o
                     +e.item
                        +e.pic
                           +e('img').img(src = 'assets/img/content/mouse2.jpg')
                        +e.product Apple Magic Mouse White Bluetooth
                           +e.price
                              | 6 060 c
                              +b('span').rub o
                     +e.item
                        +e.pic
                           +e('img').img(src = 'assets/img/content/mouse.jpg')
                        +e.product Apple Magic Mouse White Bluetooth
                           +e.price
                              | 6 060 c
                              +b('span').rub o
                  +e.nav.js-next
                     +svg('svg-icon icon__go ','go')
                  +e.nav_type_prev.js-prev
                     +svg('svg-icon icon__go ','go')
