include ../header/header
include ../breadcrumb/breadcrumb
include ../filter/filter
include ../sort-product/sort-product
include ../product-list/product-list
include ../pugination/pugination
include ../sell/sell
include ../footer/footer
include ../toTop/toTop


mixin catalog()
	+b('body')
		+b('section').page.content__
			+header()
			div.container.container_type_main.clearfix
				+breadcrumb()

				+e('aside').side
					+filter()
					+sell()

				+e('section').main
					+sort-product()
					+product-list()

				+pugination()
				+toTop()

				//+e('section').products-new
					+block-products(products.new, 'Новинки')

			+footer()