extends ../blocks/layout-default/layout-default
include ../blocks/catalog/catalog
block head
	- var pageTitle = '';
	link(href='assets/css/ion.rangeSlider.css' rel='stylesheet')
	link(href='assets/css/ion.rangeSlider.skinFlat.css' rel='stylesheet')

block content
	+catalog()

	//script(src="assets/js/jquery-3.1.1.min.js")
	//script(src="assets/js/ion.rangeSlider.min.js")


