extends ../blocks/layout-default/layout-default
include ../blocks/checkout/checkout
block head
	- var pageTitle = '';
	//link(href='assets/css/jquery-ui.min.css' rel='stylesheet')

block content
	+checkout()

	//script(src="assets/js/jquery-ui.min.js")


