extends ../blocks/layout-default/layout-default
include ../blocks/detail/detail
block head
	- var pageTitle = '';
	//link(href='assets/css/ion.rangeSlider.css' rel='stylesheet')


block content
	+detail()

	//script(src="assets/js/jquery-3.1.1.min.js")
	//script(src="assets/js/ion.rangeSlider.min.js")


