.product-card {
	padding: 10px 0 0;
	border-bottom: 1px solid #eee;

	&__pic {
		float: left;
		text-align: center;
		padding:17px 25px;
		width:32%;
	}

	&__img{
		max-width: 225px;
		max-height: 210px;
		width: 100%;
		height: auto;
	}

	&__info {
		float: left;
		width: 68%;
		padding-left:18px;
	}
	
	&__top{
		padding: 17px 0 10px;
		font-size:12px;
		position: relative;
	}
	
	&__left{
		float: left;
	}

	&__stock{
		float: right;
		position: relative;
		font-size:12px;
		color: #aba9a9;
	}

	&__code{
		position: relative;
	}

	.icon__stock{
		left: -32px;
		top: -3px;
		width: 20px;
		height: 20px;
	}

	.icon__home{
		left: -24px;
		top: 0;
		width: 18px;
		height: 18px;
	}

	.icon__auto{
		left: -24px;
		top: 0;
	}





	/*&__icon{
		fill:#ddd;
		width:18px;
		height:16px;
		position: absolute;

		&-btn{
			fill:#fff;
			margin-top:8px;
			width:18px;
			height:16px;
		}

		&_type{
			&_wish{
				top: -17px;
				right: -34px;
			}

			&_stock{
				left: -32px;
				top: -3px;
				width: 20px;
				height: 20px;
				fill:#aba9a9;
			}

			&_delivery{
				left: -24px;
				top: 0px;
			}
		}
	}
*/
	&__name{
		padding: 8px 0;
		font-size: 20px;
		display: block;
		line-height: 19px;
		color: #000;

		&:hover{
			text-decoration: underline;
		}
	}

	&__bottom{
		padding:25px 0;
	}

	&__params{
		float: left;
		width:45%;
		padding-top: 12px;

		&-text{
			font-size:12px;
			display: table-cell;
			width: 61%;
			color: #716767;
		}

		&-value{
			font-size:14px;
			display: table-cell;
			font-weight: bold;
		}
	}

	&__more{
		float: left;
		width:24%;
		font-size: 12px;
		padding-top: 12px;
		
		&-text{
			margin: 22px 0 0 39px;
		}
	}

	&__action{
		float: left;
		width:31%;
		margin-top: -2px;
	}

	&__price{
		text-align: right;
		position: relative;
		font-family:$openSansBold;

		&-main{
			font-size:24px;
			color: #000;
			padding-right: 10px;

		}
		
		&-old{
			color: $color-mark;
			position: absolute;
			top: -18px;
			right: 11px;
			font-size:18px;
		}

		&-text{
			font-size:12px;
			color: #c5c4c4;
			font-family:$openSansReg;
			padding-right: 9px;
			display: block;
			text-decoration: underline;
			margin-bottom: -2px;

			&:hover{
				text-decoration: none;
			}

		}
	}

	&__delivery{
		position: relative;
		margin-left: 65px;
		margin-bottom:1px;
	}

	&__btn{
		margin-top: 12px;
	}

	.main-btn{
		&_type{
			&_list{
				display: none;
			}

		}
	}

	.icon__stock{
		left: -28px;
		top: -2px;
	}


}

.list-view{
	.product-card{
		padding:0;

		&__pic{
			display: none;
		}

		&__top{
			padding-bottom:7px;
		}

		&__code{
			&-text{
				display: none;
			}
		}

		&__wish{
			display: none;
		}

		&__stock,
		&__params,
		&__more{
			display: none;
		}

		&__info{
			float: left;
			width:100%;
			padding:0;
		}

		&__top{
			float: left;
			width:11%;
		}

		&__name{
			float: left;
			width:69%;
			padding: 10px 0 10px 4px;
			font-size: 14px;
		}

		&__bottom{
			float: left;
			width:20%;
			padding:0;
		}

		&__action{
			width:100%;
		}

		&__price{
			float: left;
			width: 66%;

			&-main{
				font-size:16px;
				padding:9px 0 0 0;
			}

			&-old{
				display: none;
			}

			&-text{
				font-size: 10px;
				margin-top: 4px;
				padding-right:0;
			}
		}

		&__btn{
			float: right;
			margin-top:10px;
		}
	}

	.main-btn{
		display: none;

		&_type{
			&_list{
				display: block;
				position: relative;
			}

		}

		&__text{
			font-size:8px;
			font-family:$futuraHeavy;
			text-transform: uppercase;
		}
	}

	.block-code{
		&__options{
			display: block;
		}
		&__code{
			margin-top: -7px;
		}

		&__wish{
			display: none;
		}

		&__text{
			display: none;
		}
	}

	.icon__cart{
		position: static;
		margin-top: 5px;
	}
}

.block-code{

	&__options{
		display: none;
		padding-top:5px;

		&-item{
			display: inline-block;
		}

		.icon__stock,
		.icon__auto{
			position: static;
			width:15px;
			height:15px;
		}
	}

	&__text{
		font-size:12px;
		display: inline-block;
	}

	&__num{
		display: inline-block;
		font-size:14px;
		color: $color-main;
		font-family:$futuraDemi;
		letter-spacing: 0.4px;
	}

	&__wish{
		position: relative;
		cursor: pointer;
		transition:all 0.4s;

		&:hover .icon__wish-fill{
			display: block;
		}

		&.active{

			.icon__wish-fill{
				fill:$color-main;
				display: block;
			}

		}
	}

	.icon__wish{
		top: -17px;
		right: -27px;
	}

	.icon__wish-fill{
		top: -17px;
		right: -27px;
		display: none;
	}



}