include ../cart-line/cart-line

mixin cart-box()
	+b.cart-box
		+e.title Корзина товаров
		+e.list.table.js-cart__table
			+b.cart-line.table-row.js-cart__product
				+e.item_type_pic
					+e('img').img(src = 'assets/img/content/cart-1.jpg')
				+e.item_type_product Пылесос для оргтехники АП-2388/ПТ-1100 M (пылесос для тонера, пылесос сервисный 497AB, Пылесос тонерный)
				+e.item_type_amount
					+e('input').item-amount(type="text", value="10")
				+e.item_type_price
					+e.item-price 133 000
				+e.item_type_delete
					+svg('cart-line__delete js-cart__delete','delete')
			+b.cart-line.table-row.js-cart__product
				+e.item_type_pic
					+e('img').img(src = 'assets/img/content/cart-2.jpg')
				+e.item_type_product Пылесос для оргтехники АП-2388/ПТ-1100 M (пылесос для тонера, пылесос сервисный 497AB, Пылесос тонерный)
				+e.item_type_amount
					+e('input').item-amount(type="text", value="10")
				+e.item_type_price
					+e.item-price 133 000
				+e.item_type_delete
					+svg('cart-line__delete js-cart__delete','delete')

		+e.total
			+e Итого:
				+e.total-sum 141 220
		+e.empty.js-empty Нет товаров
		+e.btn
			+e('a').btn-chekout.btn-add(href="checkout.html") оформить