.sort-product {

	&__header {
		padding: 3px 0;
	}
	&__filter{
		padding: 14px 0;
		font-size:12px;
	}

	&__kind {
		float: left;
	}

	&__text {
		float: left;
	}

	.icon__list,
	.icon__card{
		 fill:$color-grey;
		 width:20px;
		 height:16px;
		 position: static;
	 }

	.icon__popular{
		top: 7px;
		right: 13px;
	}

	&__items{
		float: left;
	}

	&__item{
		display: inline-block;
		position: relative;
		padding: 0 22px;
		color: #afadad;
		text-decoration: underline;

		&.active{
			color: $color-main;
		}
	}

	&__view{
		float: right;
	}

	&__btns{
		float: right;
		margin-left: 16px;
	}

	&__btn{
		display: inline-block;
		padding-left:3px;
		cursor: pointer;

		&.active{
			.icon__card,
			.icon__list{
				fill:$color-main;
				cursor: default;
			}
		}
	}
}