include ../svg/svg
mixin sort-product()
	+b.sort-product
		+e('h1').header Компьютеры
		+e.filter.clearfix
			+e.kind.clearfix
				+e.text Cортировать:
				+e.items
					+e('a').item.active(href="") по цене
						+svg('svg-icon icon__popular','popular')
					+e('a').item(href="") по популярности
					+e('a').item(href="") по рейтингу
			+e.view.clearfix
				+e.text Показывать в виде:
				+e.btns.js-toggle-view
					+e('button').btn.active.js-toggle-item(type="button")
						+svg('svg-icon icon__card','card')
					+e('button').btn.js-toggle-item(type="button")
						+svg('svg-icon icon__list','list')