.cart-line{

	&__item{
		display: table-cell;
		font-size:14px;
		vertical-align: top;
		padding:0 4px  28px 0;
		font-weight: bold;

		&-amount{
			width:57%;
			height:35px;
			margin-top:13px;
			border:1px solid #ddd;
			color: #000;
			padding:9px;
		}

		&-discount{
			margin-top:-3px;
		}

		&-price{
			margin-top:21px;
		}

		&_type{
			&_pic{
				text-align: center;
			}
			&_product{
				cursor: pointer;
			}

			&_discount {
				//text-align: center;
				padding-top: 23px;
			}

			&_delete{
				padding: 20px 0 0 0;
				cursor: pointer;
			}

			&_total{
				padding-top: 20px;
			}
		}
	}

	&__delete{
		width: 21px;
		height: 21px;
		fill: #b9b7b7;
	}

	&__img{
		max-width: 75px;
		max-height: 75px;
	}


}



