.header-nav{
	background: $color-main;
	height:80px;
	color: #fff;
	z-index:4;
	width: 100%;

	.icon__list{
		z-index:2;
		top: 29px;
		left: 77px;
	}

	.icon__cart{
		top: 32px;
		left: 16px;
	}

	.icon__user{
		top: 31px;
		left: 8px;
	}
	&__drop{
		&-menu{
			position: absolute;
			top: 80px;
			left:15px;
		}
		&-cart{
			position: absolute;
			top: 80px;
			right: 160px;
		}
	}

	&__catalog{
		float: left;
		width: 275px;
		height: 80px;
		line-height: 54px;
	}

	&__btn{
		background: transparent;
		border: none;
		margin: auto;
		padding: 1px 0 0 33px;
		display: inline-block;
		position: relative;
		width: 100%;
		height:80px;
		font-family:$futuraHeavy;
		//transition:all 0.4s;
		
		&:hover{
			background: $color-main-hover;
		}

		&:before{
			position: absolute;
			left: 20px;
			font-size: 20px;
		}

		&:after{
			content: '';
			display: block;
			position: absolute;
			top: 36px;
			right: 42px;
			width: 7px;
			height: 7px;
			border-right: 1px solid #fff;
			border-bottom: 1px solid #fff;
			transform: rotate(45deg);
		}

		&.active{
			background: $color-main-hover;

			&:after{
				transform: rotate(-135deg);
				top: 41px;
			}
		}
	}

	&__search{
		float: left;
		width: 52.7%;
		padding: 20px 21px;
		position: relative;

	}
	
	&__autocomplete{
		position: relative;
		width: 100%;
		background: #fff;

		.autocomplete-suggestions{
			background: #fff;
			color: #929292;
			width: 100%;
			border-top: 1px solid #ddd;
		}

		.autocomplete-suggestion{
			padding: 12px 10px;
			font-size: 12px;
			cursor: pointer;
			transition:all 0.4s;
			
			&:hover{
				background: #cef3d4;
				color: #000;
			}
		}
	}

	&__input{
		width: 100%;
		padding: 10px 15px;
		border:none;
		font-size: 14px;
		color: #000;
	}

	&__user{
		float: left;
		width: 23.5%;
	}

	&__item{
		float: left;
		position: relative;
		width:47.3%;
		padding: 32px 0 0 32px;
		height: 80px;
		text-align: center;
		cursor: pointer;
		//transition:all 0.4s;

		&:hover{
			background: $color-main-hover;
		}

		&.active{
			background: $color-main-hover;
		}

		&-value{
			display: inline-block;
			font-family:$futuraHeavy;
			margin-bottom: 4px;
			line-height: 18px;
		}

		&-text{
			font-size: 14px;
			font-family:$futuraHeavy;

			&:before{
				position: absolute;
				top: 2px;
				left: 0;
			}
		}

		&_type{
			&_profile{
				width: 52.7%;
			}

			&_cart{
				padding: 19px 0 0 15px;
			}


		}
	}

	&__total{
		margin-top: -5px;
		font-family:$openSansReg;
		font-size: 12px;
	}

	&__num{
		display: inline-block;
		padding-right: 2px;
	}

	&__auth{
		text-align: left;
		margin: -2px 0 0 -2px;
		font-family:$openSansReg;

		&-result{
			padding-left: 5px;
			font-size: 12px;
		}
	}
}
