.delivery {
	padding: 0 0 17px;

	&__content{
		padding:7px 0;
	}

	&__list{
		padding-top:37px;
	}

	&__item{
		padding:0 10px;
	}

	&__box{
		margin: 0 -10px;
	}

	&__desc{
		font-size:11px;
		line-height:20px;
		padding-left:2px;
		padding-right: 11px;

		&-title{
			font-size: 16px;
			padding: 13px 0 1px 0;
			font-family:$futuraBold;
		}
	}

	&__total{
		text-align: right;
		clear: both;
		font-family:$futuraDemi;
		padding: 33px 24px 0 0;
	}
}

.tabs-nav{
	border-bottom:9px solid #f2f2f2;
	
	&__item{
		float: left;
		padding:0 15px;

		&:first-child{
			padding-left:0;
		}

		&:last-child{
			padding-right:0;
		}
	}
	
	&__link{
		padding-bottom:11px;
		display: inline-block;
		font-size:12px;
		font-family:$futuraDemi;
		color: #9a9898;
		text-transform: uppercase;
		position: relative;
		border-bottom:4px solid transparent;
		letter-spacing:0.8px;
		cursor: pointer;

		&.active {
			color: #000;
			font-family: $futuraBold;
			border-bottom: 4px solid $color-main;
		}


	}
}

.form-block{

	&__line{
		padding:4px 0 1px;
		width:100%;
		margin:0 -10px;
	}

	&__title{
		font-size:12px;
		font-family:$openSansBold;
		padding:10px 0;
		display: block;
	}

	&__item{
		padding:7px 8.5px;
		width:100%;
		border:1px solid #ddd;
		font-size: 14px;
	}

	&__box {
		padding: 0 10px;


		.selectize-control.single .selectize-input{
			&:after{
				content: '';
				display: block;
				width: 8px;
				height: 8px;
				border-width: 0;
				border-color: #fff;
				border-right: 1px solid #222;
				border-bottom: 1px solid #222;
				transform: rotate(45deg);
				position: absolute;
				right: 16px;
				top: 14px;
			}

			&.dropdown-active{
				&:after{

					content: '';
					display: block;
					width: 8px;
					height: 8px;
					border-width: 0;
					border-color: #fff;
					border-right: 1px solid #222;
					border-bottom: 1px solid #222;
					transform: rotate(225deg);
					top: 18px;
				}
			}

		}
	}
	
	&__note{
		font-size:10px;
		color: #cecaca;
	}

	&__metro{
	}
}






















